.selected-features {
  width: 335px;
  right: 0;
  top: 9px;
  height: auto;
  position: absolute;
  background: hsla(0, 0%, 100%, .91);
  max-height: calc(100% - 132px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .0196078);
  border-radius: 2px;
  transition: right .45s cubic-bezier(.23, 1, .32, 1);
  overflow: auto;
}

.explorer-list-item {
  width: 335px;
  font-size: 18px;
  padding: 10px 28px 10px 10px;
  border-left: 5px solid rgb(247, 202, 0);
  border-bottom: 1px solid #eaeaea;
  position: relative;
  box-sizing: border-box;
}

.explorer-list-item .fa {
    position: absolute;
    right: 0;
    padding: 10px;
    top: 10px;
}
